



/* element :hover; */
/* 
 {
  .box {
    margin-top: -40px;
    margin-right: 4em;
    margin-bottom: 40px;
    margin-left: 4em;
  } */
  /* padding: 30px;
  animation: mymove 120s infinite; */
  /* font: solidcolor
  align-items: center-position;
  } */

  /* head
  .paragraph {
    scroll-padding-left: 30pt;
    margin-left: 4em;
    margin-right: 4em;

  } */
/* .box {
  align-content: center;
} */
  /* .text {
    align-content: center;
    padding: 20px;
  } */


  
 /* p.one {
    font-size: rem;
} */

#head {
    font-size: 1.8rem;
}

body {
  
    font-size: 2.6rem;
    body:
     {
 
      /* padding: 30px;  */
      animation: mymove 160s infinite; 
      /* font-family: fantasy; */
      /* align-items: center-position; */
      }
}
    
      @keyframes mymove {
        from {
          background-color: rgb(81, 241, 246);
        }
    
        to {
          background-color:rgba(64, 165, 143, 0.849);
        } 
      }
    
   /* display: inline-block; */
     
      /* source https://www.w3schools.com/cssref/tryit.asp?filename=trycss_animatable */
    

.intro {
  align-content: center;
  color: navy;
  border-style: outset;
  border-color: rgb(white);
  border-width:5px ;
  background-color: rgb(19, 243, 243);
  margin: 2em
 
}


/* Welcome */

h1 {
  color: rgb(151, 55, 92);
  text-shadow: #ff6347;
/* text-shadow: wrap; */
  /* background-color: ; */
  padding: .2em;
  margin: center;
  margin-left: 1em;
  margin-right: 1.em;                             
  margin-top: 1em;
  margin-bottom: 1em;
}
/* .project_sub-heading: {
  position: center
  } */                                    
  
h3 {
  margin: 1rem;                                                                                                                                                 text-align: match parent;

}


/* Step 1-4 identifiers, Review Question and FInal Prompt */
h2 {
  color: rgb(206, 53, 91);
  text-shadow: firebrick;
  border-color: rgb(218, 214, 22);
  /* background: rgb(16, 216, 206); */
  /* margin-right: 3em; */
margin-left: 1.5em; 
  margin-top: 1em;
  /* margin-bottom: 5em; */
  padding: .1em;

}

#thought-button  {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

#feelings-button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

#random-button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

#action-button {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#results-button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#BackToTop {
  float: left;
  border-radius: 5px;
  border-color: black;
  box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-style: outset;
  font-size: 20px;

  /* text-color: blue; */
}


/* 
Title, Closing pp,  */
h3 {
  color: rgb(33, 87, 131);
}

/* Intro and Step 1-4 prompts */

h4 {
  color: rgb();
  padding: .2em;
  margin-left: 1.5em;
  margin-right: 3em;
}

/* challenge */
h5 {
  border-style: outset;
  border-color: rgb(177, 64, 130);
  border-width:5px ;
  background-color: rgb(250, 223, 70);
  margin: 2em
 
}

div {
  border: 2px blue;
  padding: 15px;
  align-items: center;
}

div.project__entry{
  color: rgb(teal);
  margin: 0px 2px;
  font: 30px;

}

fieldset 
  legend {
    padding: 3px 2px;
    color: teal; 
    font-size: 1.2em;
    border-width: 10px;
    /* border-weight: 10px; */
  }
  input {
  margin: 6px;
   outline-style: inset;
   border-color: turquoise;
   border-style: inset;
   color: navy;
  }



p#userThought
{
  color: rgb(235, 29, 29);
  font-weight: extrabold;
  font-size: 30px;
}


 p#userFeel
{
  color: rgb(235, 29, 29);
  font-weight: extrabold;
  font-size: 30px;
} 
/* not working */

p#userActions 
{
  color: rgb(235, 29, 29);
  font-weight: extrabold;
  font-size: 30px; 
} 

p#userResults
{
  color: red;
  font-weight: extrabold;
  font-size: 30px;

}


body {
  padding: 30px; 
  animation: mymove 160s infinite; 
  font-family: fantasy;
  align-items: center-position;
  }

 /* display: inline-block; */
 
  /* source https://www.w3schools.com/cssref/tryit.asp?filename=trycss_animatable */

  @keyframes mymove {
    from {
      background-color: rgb(81, 241, 246);
    }

    to {
      background-color:rgba(38, 187, 155, 0.849);
    } 
  }
   


div  {
  color: rgb(22, 77, 198);
}

