
body
.project__heading
.project_sub-heading1
.project__entry
.title
fontsize 3.17em 
p {font-size 2rem;)}
color: green;


.project__heading1 {
  
  border-block-start-color: rgb(197, 140, 16);
  flex-flow: row wrap;
  color: red;
  margin: px 0;
  align-content: space-around;
}

h1 {
  color: rgb(128, 66, 16);
}
/* .project_sub-heading: {
  position: center
  } */
  
h3 {text-align: center
   position:  ;
  
}
  id  {
   yesClick: red;

}


h2 {
  color: darkred
}

 
h3 {
  color: rgb(223, 130, 24);
}

/* Step 1-4 prompts */
h4 {
  color: rgb(70, 104, 7);
}

h5 {
  color: orangered;
}

div {
  border: 2px blue;
  padding: 15px;
  align-items: center;
}


p#userActions 
{
  color: red;
}
p#userThoughts
{
  color: red;
}
p#userFeelings
{
  color: red;
}
p#userResults
{
  color: red;
}

.project__entry {
  display: flex;
  flex-flow: row wrap;
  color: rgb(228, 31, 31);
}
body {
  .box {
    margin-top: -40px;
    margin-right: 4em;
    margin-bottom: 40px;
    margin-left: 4em;
  }
     
 /* display: inline-block; */
  padding: 25px;
  animation: mymove 120s infinite;
  /* source https://www.w3schools.com/cssref/tryit.asp?filename=trycss_animatable */

  font-family: fantasy;
  align-items: center-position;
  }

  @keyframes mymove {
    from {
      background-color: rgb(250, 237, 51);
    }

    to {
      background-color:rgba(161, 155, 67, 0.849);
    } 

   
    display: inline-block; {
    font-size: 2.17em;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
    margin-inline-start: 2px;
    margin-inline-end: 2.8px;
    font-weight: bold;
    align-items: center;
      text-align-last: ;
  }

   border-block-color: rgb(37, 333, 203); 
}


.project_sub-heading {
  color: red;
  display:hover 
}

.text {
  color: red
}

italic {
  font-style: italic;
}

.paragraph {
  color: blueviolet;
}

 }
.project__container {
 flex-direction: column; 
  align-content: space-around;
  color: blue;
} */

.title {
  color: rgb(100, 160, 210);
}
/* 
THOUGHTS  */

fieldset { 
  color: rgb(189, 99, 38);
  font-size: 1.8em;
  textcolor: red;
  

.project__entry {
  display: flex;
  flex-flow: row wrap;
  color: rgb(228, 31, 31);
}

feDropShadow {
  color-interpolation-filters: red;


button {
  color: rgb(29, 82, 160);
}
.button-text {
  color: rgb(20, 87, 232);

p.one {
    border: 4px;
    outline: 15px;
    margin: 20px 0 40px 0;
} 

div  {
  color: rgb(22, 77, 198);
}

div {
  text: blue;
}

canvas{
  display: block;
  margin: 10px auto;
}

.notebox {
  border: 4px solid #666;
  padding: .5em;
}

.notebox.warning {
  border-color: orange;
  font-weight: bold;
}

.notebox.hint {
  border-color: red;
  font-weight: bold;
} */

p.one {
  border-style: solid;
  border-color: olive;
}

p.two {
  border-style: solid;
  border-color: rgb(202, 44, 155);
} 

p.three {
  border-style: dotted;
  border-color: redorange;
} 
