



/* element :hover; */
/* 
 {
  .box {
    margin-top: -40px;
    margin-right: 4em;
    margin-bottom: 40px;
    margin-left: 4em;
  } */
  /* padding: 30px;
  animation: mymove 120s infinite; */
  /* font: solidcolor
  align-items: center-position;
  } */

  /* head
  .paragraph {
    scroll-padding-left: 30pt;
    margin-left: 4em;
    margin-right: 4em;

  } */
/* .box {
  align-content: center;
} */
  /* .text {
    align-content: center;
    padding: 20px;
  } */


  /* intro pp */
 p.one {
    font-size: 1.6rem;
}

#head {
    font-size: 1.2rem;
}

body {
  
    font-size: 1.4rem;
}

.intro {
  align-content: center;
  color: navy;
}

legend {
  margin-top: 2em;
  padding: 1.2em;
}

/* Welcome */

h1 {
  color: rgb(151, 55, 92);
  text-shadow: #ff6347;
/* text-shadow: wrap; */
  /* background-color: ; */
  padding: .2em;
  margin: center;
  margin-left: 1em;
  margin-right: 1.em;                             
  margin-top: 1em;
  margin-bottom: 1em;
}
/* .project_sub-heading: {
  position: center
  } */                                    
  
h3 {
  margin: 1rem;                                                                                                                                                 text-align: match parent;

}
  id {
   /* yesClick: red; */
   padding-block: 1em;
  background-size: 1em;
}

/* Step 1-4 identifiers, Review Question and FInal Prompt */
h2 {
  color: rgb(206, 53, 91);
  text-shadow: firebrick;
  border-color: rgb(218, 214, 22);
  /* background: rgb(16, 216, 206); */
  /* margin-right: 3em; */
margin-left: 1.5em; 
  margin-top: 1em;
  /* margin-bottom: 5em; */
  padding: .1em;

}
/* 
Title, Closing pp,  */
h3 {
  color: rgb(33, 87, 131);
}

/* Intro and Step 1-4 prompts */

h4 {
  color: rgb(navy);
  padding: .2em;
  margin-left: 1.5em;
  margin-right: 3em;
}

/* challenge */
h5 {
  color: teal;
  border-style: outset;
  background-color: yellow;
 border-color: rgb(33, 87, 131);
}

div {
  border: 2px blue;
  padding: 15px;
  align-items: center;
}

div.project__entry{
  color: rgb(teal);
  margin: 0px 2px;
  font: 30px;

}

fieldset 
  legend {
    padding: 3px 2px;
    color: teal; 
    font-size: 1.2em;
    border-width: 5px;
  }
  input {
  margin: 6px;
   outline-style: inset;
   border-color: turquoise;
   border-style: solid;
   color: navy;
  }



p#userThought
{
  color: rgb(235, 29, 29);
  font-weight: extrabold;
  font-size: 30px;
}

p#userFeel
{
  color: rgb(235, 29, 29);
  font-weight: extrabold;
  font-size: 30px;
}
/* not working */

p#userActions 
{
  color: rgb(235, 29, 29);
  font-weight: extrabold;
  font-size: 30px; 

} 

p#userResults
{
  color: red;
  font-weight: extrabold;
  font-size: 30px;

}

/* not working */

.project__entry {
  display: flex;
  flex-flow: row wrap;
  color: rgb(228, 31, 31);
}

/* body { */
  .box {
    margin-top: -40px;
    margin-right: 4em;
    margin-bottom: 40px;
    margin-left: 4em;
  }
  /* padding: 30px;
  animation: mymove 120s infinite;
  font-family: fantasy;
  align-items: center-position;
  } */

 /* display: inline-block; */
 
  /* source https://www.w3schools.com/cssref/tryit.asp?filename=trycss_animatable */

  


  @keyframes mymove {
    from {
      background-color: rgb(81, 241, 246);
    }

    to {
      background-color:rgba(21, 240, 192, 0.849);
    } 
  }
   
 /* display: inline-block; {
    font-size: 2.17em;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
    margin-inline-start: 2px;
    margin-inline-end: 2.8px;
    font-weight: bold;
    align-items: center;
      text-align-last: ;
  }  */


.review {
align-items: center;
}
   
/* .border-block-color {
font: 1em sans-serif;
color: blueviolet;
display: ellipse;
} */


.project_sub-heading {
  color: red;
  display:hover; 
  font-weight: 20px;
}

/* .text {
  color: red
} */

.italic {
  font-style: italic;
}

.p1 {
  padding: 20px;
  color: blueviolet;
}
.pmargin {
  margin: 3em;
  padding: 3em;
  border: 2em;
}

 
.project__container {
 flex-direction: column; 
 padding-left: 10px;
  align-content: space-around;
  color: blue;
} */

.title {
  color: rgb(83, 126, 161);
}
/* 
THOUGHTS  */

/* button */

.BackToTop {
  scale: 1.5em;
  padding: 1.5em;
  font-size: 16px;
  background-color: red;
  /* text-color: blue; */
}

p.one {
    border: 4px;
    outline: 15px;
    margin: 20px 0 40px 0;
} 

div  {
  color: rgb(22, 77, 198);
}

/* div {
   text: blue;
} */

canvas{
  display: block;
  margin: 10px auto;
}

.notebox {
  border: 4px solid #666;
  padding: .5em;
}

.notebox.warning {
  border-color: orange;
  font-weight: bold;
}

.notebox.hint {
  border-color: red;
  font-weight: bold;
} */

p.one {
  border-style: solid;
  border-color: olive;
}

p.two {
  border-style: solid;
  border-color: rgb(202, 44, 155);
} 

